body {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #E1F5FE;
}

.titlebar {
  background-color: #1976D2;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

#close-button {
  position: absolute;
  right: 12px;
  font-size: 16px;
  cursor: pointer;
  -webkit-app-region: no-drag; 
}

.container {
  flex: 1; /* Make the container take up all remaining space vertically */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* Evenly distribute buttons */
  align-items: center;
}

#end_test_btn {
  position: absolute;
  left: 8px;
  top: 6px;
  width: 120px;
  z-index: 99999999;
}

#syntax_help_btn {
  position: absolute;
  right: 8px;
  top: 6px;
  width: 100px;
}


#login-btn {
  font-size: 14px;
  width: 80px;
  height: 30px;
  border-radius: 8px;
}

#run_code_btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 120px;
  font-size: medium;
  border-radius: 8px;
}

#change_question_btn {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 220px;
  font-size: medium;
  border-radius: 8px;
}



/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 2px 3px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 50px;
  -webkit-app-region: no-drag;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}












.white-box {
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center; /* Vertical alignment */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  top: 45px;
}

#timer {
  position: absolute;
  top: 80px;
  height: 30px;
  width: 220px;
  font-weight: 900;
  font-size: larger;
}

#points_display {
  position: absolute;
  padding: 5px;
  left: 70px;
}

#attempted_display {
  position: absolute;
  padding: 5px;
  right: 70px;
}